{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!<header class="post__header">
        <button class="post_button">
            <img width="24px" height="24px" src="/svg/header__back.svg">
        </button>
        <button class="post_button">
            <img width="24px" height="24px" src="/svg/header__avatar.svg">
        </button>
    </header>

    <h1 class="post_title">Комьюніті</h1>

    <main class="info">
        <div class="butList">
            База знань
        </div>
        <div class="tab header_info">
            Інформація
        </div>

        <img src="/svg/greeting.svg" alt="">

        <div class="post_info">
            <h2>
                Що таке база знань?
            </h2>
            База знань - база даних що містить правила
            виводу та інформацію про людський досвід
            та знання в деякій предметній галузі. В
            самонавчающихся системах база знаньтакож
            містить інформацію, що є результатом
            вирішення попередніх задач.
        </div>

        <button class="button">
            <a href="/http.google.com">
        </button>


    </main>



</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}